# Trading mode (demo или real)
MODE=demo
# Exchange bingx
EXCHANGE=bingx

# AI API
DEEPSEEK_API_KEY=your_deepseek_api_key
SILICONFLOW_API_KEY=sk-your-siliconflow-key-here
OPENROUTER_API_KEY=sk-your-siliconflow-key-here

# BingX API credentials
BINGX_API_KEY=your_api_key
BINGX_SECRET_KEY=your_secret_key

# News processing
ENABLE_NEWS=false
